@charset "UTF-8";
.table_wrap{
	width: 100%;
	height:500px;
/* 	background-color: powderblue; */
}
.table{
	width: 70%;
	margin: auto;
/* 	background-color: pink; */
}
.boardText{
	margin: auto;
	width: 70%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	margin-top: 20px;
/* 	background-color: yellow; */
}
.menuSearch input {
    position: relative;
    top: -2px;
    padding: 0 15px;
    margin-left: 50px;
    background: #ebebeb;
    border-radius: 30px !important;
    border: none !important;
    height: 34px;
    width: 240px;
}
.btn_search {
    right: 20px;
    width: 28px;
    height: 30px;
    margin-top: -15px;
    padding-left: 15px;
    background-image: url("/img/btn_search.png") no-repeat center;
}
ul{
	justify-content: center;
}